@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<div class="rz-p-12 rz-text-align-center">
    <RadzenCheckBox @bind-Value=@value Name="CheckBox1" />
    <RadzenLabel Text="CheckBox" Component="CheckBox1" Style="margin-left: 8px; vertical-align: middle;" />
</div>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    bool value;
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
