@page "/generate-qr"
@inject HttpClient Http

<h3>Generate QR Code</h3>

<input @bind="data" placeholder="Enter data for QR code" />
<button @onclick="GenerateQRCode">Generate QR Code</button>

@if (!string.IsNullOrEmpty(qrCodeUrl))
{
    <div>
        <h3>Your QR Code:</h3>
        <img src="@qrCodeUrl" alt="QR Code" />
    </div>
}

@code {
    private string data;
    private string qrCodeUrl;

    private async Task GenerateQRCode()
    {
        var imageBytes = await Http.GetByteArrayAsync($"https://localhost:7008/api/QRCode/{data}");
        qrCodeUrl = $"data:image/png;base64,{Convert.ToBase64String(imageBytes)}";
    }
}
